/* VARIABLES */

:root {
    --main-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-triangle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #FF6735;
    top: -100px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.top-triangle-grey::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #bdbdbd;
    top: -100px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.bottom-triangle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
    bottom: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.bottom-triangle-orange::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #FF6735;
    bottom: -99px;
    clip-path: polygon(0% 0, 0 100%, 100% 0);
    z-index: 1;
}

.container {
    position: relative;
    background: url("../img/bg-img.jpg") no-repeat scroll center center / cover;
}

.cover-img {
    position: relative;
    background-size: cover;
    height: 550px;
}

.width-container {
    position: relative;
    width: 55rem;
    margin: auto;
}

.container .header-bg-container .logo {
    display: inline-block;
    position: relative;
    color: #FF6735;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 30px;
    bottom: 40px;
    left: 20px;
    text-shadow: #2b2b2b 1px 1px 7px;
}

.container nav {
    background-color: #FF6735;
}

.container nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #FF6735;
    width: 55rem;
    margin: auto;
}

.container nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 15px 12px;
}

.container nav ul li:last-child {
    margin-right: 15px;
}

.container nav ul li a {   
    text-decoration: none;
    color: #ffffff;
    font-family: var(--main-font);
    font-size: 11px;
} 

.container nav ul li:hover {  
    background-color: #fe8c67;
}

header {
    position: relative;
}

header .cover-title {
    position: absolute;
    width: 80%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .cover-title h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-family: var(--main-font);
    text-align: center;
    width: 80%;
    margin: auto;
}

header .cover-img .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: 35%;
    table-layout: fixed; 
    border-spacing: 10px;
}

header .btn a {
    text-decoration: none;
    color: #ffffff;
    font-family: var(--main-font);    
    font-size: 11px;
    background-color: #FF6735;
    display: table-cell;
    text-align: center;
    padding: 15px;
} 

/* Our work section */

main .our-work-section {
    margin-bottom: 85px;
    position: relative;
    background-color: #fff;
}

main .our-work-section h2 {
    padding-bottom: 30px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 2.1rem;
    color: #FF6735;
}

main .our-work-section ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    list-style-type: none;
    margin: 0 25px;
    grid-gap: 35px;
    padding-bottom: 30px;
} 

main .our-work-section li p {
    font-family: var(--main-font);
    font-size: 10px;
    color: #5c5c5c;
}

main .our-work-section li a {
    display: inline-block;
}

main .our-work-section li img {
    width: 100%;
}

main .our-work-section .client-name {
    position: relative;
    width: 180px;
    height: 180px;
}

.overlay {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height:0;
    opacity: 1;
}

.text {
    color: white;
    font-size: 12px;
    font-family: var(--main-font);
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.client-name:hover .overlay {
    bottom: 0;
    height: 100%;
}

/* Our work section - END */

.bg-orange {
    position: relative;
    background-color: #FF6735;
}

main .who-are-we-section {
    position: relative;
    background-color: #FF6735;
}

main .who-are-we-section h1 {
    position: relative;
    text-align: center;
    color: #000000;
    bottom: 70px;
    font-family: var(--main-font);
}

main .who-are-we-section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

main .who-are-we-section ul li {
    list-style: none;
    text-decoration: none;
}

main .who-are-we-section img {
    border-radius: 50%;
    width: 40%;
    margin: 10px;
}

.element {
    float: left;
    shape-outside: circle(50%);
}

main .who-are-we-section ul li .employee-name {
    color: #fff;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bolder;
    margin-left: 190px;
    margin-top: 31px;
}

main .who-are-we-section ul li .employee-pos {
    color: #fff;
    font-family: var(--main-font);
    font-size: 11px;
    margin-left: 190px;
    text-transform: uppercase;
}

main .who-are-we-section ul li p {
    color: #fff;
    margin-top: 10px;
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.5;
}

/* MAP section */

#mapContainer {
    position: relative;
    width: 100%;
    height: 700px;
}

/* FOOTER */

footer .adress p {
    background-color: #bdbdbd;
    text-align: center;
    color: #5c5c5c;
    font-family: var(--main-font);
    padding: 100px 100px;
    font-size: 13px;
    font-weight: bold;
}

/* RESPONDIVE */

@media(max-width: 1280px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 1024px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    
    .container {
        width: 100%;
        margin: 0 auto;
    }

    header .cover-img .btn {
        width: 40%;
    }

    main .our-work-section ul {
        grid-template-columns: 1fr 1fr;
        display: grid;
        margin: 0 180px;
        grid-gap: 40px;
        padding-bottom: 30px;
    }

    .container nav ul {
        width: 100%;
    }

    .width-container {
        width: 100%;
    }

    main .who-are-we-section ul {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 170px;
        grid-gap: 30px;
    }

}

@media(max-width: 480px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    header .cover-title h1 {
        font-size: 2rem;
        width: 100%;
    }

    header .cover-img .btn {
        width: 65%;
    }

    main .our-work-section ul {
        grid-template-columns: 1fr;
        display: grid;
        list-style-type: none;
        margin: 0 150px;
        grid-gap: 40px;
        padding-bottom: 30px;
    }

    .container nav ul {
        width: 100%;
    }

    .width-container {
        width: 100%;
    }

    main .who-are-we-section ul {
        margin: auto;
        grid-gap: 30px;
        padding: 0 35px;
    }

    main .who-are-we-section img {
        border-radius: 50%;
        width: 40%;
        margin: 10px;
    }

    footer .adress p {
        background-color: #bdbdbd;
        text-align: center;
        color: #5c5c5c;
        font-family: var(--main-font);
        padding: 50px 50px;
        font-size: 10px;
        font-weight: bold;
    }

}